$primary-bg-color: #0b1238;
$hour-hand: red;
$second-hand: #fff;
$minute-hand: #00ff00;
$digital-clock-bg: #004ec4;


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    html,
    body {
        margin: 0;
        height: 100%;
        overflow: hidden
    }
    background-color: $primary-bg-color;
}

.clock {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/clock.png');
    z-index: -1;
    background-size: cover;
    border: 4px solid $primary-bg-color;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                0 15px 15px rgba(0, 0, 0, 0.3);

    &:hover {
        filter: brightness(300%);
    }

    &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background: $second-hand;
        border-radius: 50%;
        z-index: 10000;
    }

    .hour,
    .minute,
    .second {
        position: absolute;

        .hr,
        .min,
        .sec {
            --rotation: 0;
            transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
            // transform: translateY(50%);
        }
    }

    .hour {
        .hr {
            width: 160px;
            height: 160px;
            opacity: 0.8;
            top: -82px;

            &::before {
                content: '';
                position: absolute;
                width: 8px;
                height: 80px;
                background: $hour-hand;
                z-index: 10;
                border-radius: 6px 6px 0 0;
            }
        }
    }

    .minute {
        .min {
            width: 200px;
            height: 190px;
            opacity: 0.8;
            top: -94px;
            left: 1px;

            &::before {
                content: '';
                position: absolute;
                width: 4px;
                height: 90px;
                background: $minute-hand;
                z-index: 11;
                border-radius: 6px 6px 0 0;
            }
        }
    }

    .second {
        .sec {
            width: 250px;
            height: 285px;
            opacity: 0.8;
            top: -143px;
            left: 1px;

            &::before {
                content: '';
                position: absolute;
                width: 2px;
                height: 150px;
                background: $second-hand;
                z-index: 12;
                border-radius: 6px 6px 0 0;
            }
        }
    }

    .hr,
    .min,
    .sec {
        display: flex;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
    }
}

#digitalClock {
    background-color: $digital-clock-bg;
    border-radius: 5px;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                0 15px 15px rgba(0, 0, 0, 0.3);
    padding: 10px 30px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: $second-hand;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 7px;

}

#social {
    position: absolute;
    top: 85%;
    left: 42%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;

    div {
        margin-left: 25px;
        background: $digital-clock-bg;
        padding: 5px;
        color: $second-hand;    
        border-radius: 5px;
        box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                    0 -15px 15px rgba(255, 255, 255, 0.05),
                    0 15px 15px rgba(0, 0, 0, 0.3),
                    0 15px 15px rgba(0, 0, 0, 0.3);

        
    }
}

@keyframes dot {
    from {
        background: #ddd;
    }
    to {
        background: #091929;
    }
}